@tailwind base;
@tailwind components;
@tailwind utilities;

/* define CSS vars for light/dark */
:root {
  --bg-light: #ffffff;
  --fg-light: #111827;
  --bg-dark:  #1a1a1a;
  --fg-dark:  #f3f4f6;
}

html {
  background-color: var(--bg-light);
  color:            var(--fg-light);
  transition: background-color .3s, color .3s;
}

html.dark {
  background-color: var(--bg-dark);
  color:            var(--fg-dark);
}